.item {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex-wrap: wrap;
  gap: 15%;
  padding: 2%;
  border: solid 2px;
  margin: 0;
}

.complete {
  color: green;
}

.notcomplete {
  color: red;
}
